<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>900879340348-57dbam5d0b6quqo7seqkksv7np64ogln.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900879340348-57dbam5d0b6quqo7seqkksv7np64ogln</string>
	<key>API_KEY</key>
	<string>AIzaSyC30MjaJmvUkouxGKflpwwWrUF81VVau_g</string>
	<key>GCM_SENDER_ID</key>
	<string>900879340348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutter3firebase220716</string>
	<key>PROJECT_ID</key>
	<string>flutter3fire20220716</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter3fire20220716.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900879340348:ios:90152329b20169b682c439</string>
</dict>
</plist>